body							{
								font-family:arial;
								margin:0px 0px 0px 0px;
								padding:0px;
								background-color: #cccccc;
								}
.menu							{
								text-align: center;
								float:right;
								width:100px;
								height:80%;
								font-size:20px;
								 transition:background 2s;
								 border:0px solid white;
								 padding-top:10px;
								}
.menu:hover						{
								 background:#B8AEAE;
								}
.kotak							{
								width:100%;
								height:10%;
								border:1px solid black;
								background:#323232;
								position:fixed;
								padding-left:100px;
								z-index:1;
								}

.header							{
								font-family:Times New Roman;
								font-size:35px;
								color:white;
								background:#323232;
								position:fixed;
								padding-left:10px;
								padding-top:10px;
								width:84%;
								height:8%;
								}
.isi							{
								background:#F7F3E8;
								color:#000000;
								font-size:20px;
								padding-top:30px;
								padding-left:70px;
								padding-right:70px;
								margin-left:100px;
								width:1007px;
								height:800px;
								border:1px solid black;
								}
.gambar							{
								width:85%;
								margin-left:100px;
								border:1px solid black;
								}
.kolom							{
								margin-top:30px;
								margin-left:56px;
								width:250px;
								height:280px;
								border:2px solid white;
								cursor:pointer;
								overflow:hidden;
								float:left;
								position:relative;
								}
.kolom:hover .caption			{
								opacity:0.9;
								top:0;
								}
.kolom img						{
								transition:1.5s;}
.kolom:hover img 				{
								transform:scale(1.1);}
.caption						{
								transition:all .4s ease-in;
								transition-delay:.5s;
								opacity:0;
								position:absolute;
								top:-100%;
								width:100%;
								height:100%;
								background-color:rgba(0,0,0,4);
								color:white;
								font-family:arial;
								}
.caption p						{
								transition-delay:1.2s;
								}
.caption h3						{
								transition-delay:1s;
								}
.caption h3, .caption p 			{
								transition:all .4s;
								padding:20px 20px 10px 10px;
								margin-top:0px;
								margin-bottom:0px;
								position:relative;
								left:100%;
								}
.kolom:hover h3, .kolom:hover p	{left:0;}
.caption						{
								margin-top:20px;
								background-color:black;
								}
.footer							{
								margin-left:100px;
								width:85%;
								height:50px;
								border:1px solid black;
								color:white;
								background:#323232;
								text-align:center;
								font-family:Times New Roman;
								padding-top:30px;
								}
