$break-small:480px;

.footer {
	margin-left:80px;
	width:90%;
	height:25px;
	border:1px solid black;
	color:white;
	background:#323232;
	text-align:center;
	font-family:Times New Roman;
	padding-top:15px;
	@media screen and (max-width:$break-small) {
		margin-left:3px;
		width:446px;
	}
}