@import 'bootstrap-grid-system';
@import 'header';
@import 'content';
@import 'footer';

body							{
								font-family:arial;
								margin:0px 0px 0px 0px;
								background-color: #cccccc;
								}